[Unit]
Description=Tegrastats wrapper to output logfile to json format

[Service]
Type=simple
User=user
ExecStart=/home/user/.local/bin/tegrastatsjson --log_file /var/output/tegrastats.json --interval 1000 --add_date_to_logfile 1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tegrastatsjsond
Restart=always

[Install]
WantedBy=multi-user.target
